:root {
  --primary-color: #cabc65;
  --secondary-color: #050304;
  --aspect-color: #fdfdfd;
}
body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/096/019/original/marbel-background.png?1694024422);
  background-size: cover;
  color: #fdfdfd;
  font-family: "Marcellus SC", serif;
  margin: 60px;
}
h1 {
  color: #cabc65;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}
select {
  border-radius: 5px;
  font-size: 18px;
  margin: 12px 0;
  padding: 5px;
  width: 100%;
}
h2 {
  font-size: 28px;
  font-weight: bold;
}
strong {
  font-weight: bold;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: var(--aspect-color);
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding: 18px 25px;
}
.city {
  border-bottom: 2px dashed var(--aspect-color);
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.city:last-child {
  border: none;
}
.date {
  font-size: 14px;
  padding-bottom: 10px;
}
.time {
  color: var(--primary-color);
  font-family: "Michroma", sans-serif;
  font-size: 32px;
}
.time small {
  color: var(--primary-color);
  font-size: 18px;
  vertical-align: middle;
}
footer {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
}
